* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: cadetblue;
}

body {
  font-family: Oswald;
}

img {
  border-radius: 50%;
}
.content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
  background: white;
}
.logo {
  color: beige;
  font-size: 20px;
}
.nav-links {
  display: flex;
  background-color: cadetblue;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: aquamarine;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
.burger div {
  width: 24px;
  height: 5px;
  background-color: red;
  margin: 5px;
}
.burger {
  display: none;
}
